<div class="container">
  <h1 class='text-center about-title'>
    Markdown => HTML
  </h1>
  <div class="row">
    <div class="col-12">
      <h4>
        Use the input box below to convert markdown to html 😎
      </h4>
      <textarea class="form-control" id="editor" rows="6"></textarea>
      <div id="preview"></div>
    </div>
  </div>
</div>
