.card-product {
  overflow: hidden;
  padding: 24px;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product i {
  font-size: 2em;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  &.finished-at {
    margin: 0 5px;
    font-size: 0.6em;
  }
}

.card-product .card-product-infos {
  padding: 16px;
}
